
<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "http://localhost:5173"
    Header always set Access-Control-Allow-Methods "GET,POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
RewriteEngine On
RewriteBase /GoDelivery/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ public/index.php [QSA,L]

